### How to create a DataFrame from RDD??

In [59]:
#import spark where it is installed
import findspark
findspark.init()

In [60]:
# define SparkSession and SparkContext
from pyspark.sql import SparkSession
spark = SparkSession.builder\
                    .master("local")\
                    .appName("define_schema")\
                    .getOrCreate()

In [61]:
# define sc
sc = spark.sparkContext

In [62]:
#let's create some dummies data
empData = [(7389, "SMITH", "CLEARK", 9902, "2010-12-17", 8000.00, 20),
            (7499, "ALLEN", "SALESMAN", 9698, "2011-02-20", 9000.00, 30),
            (499, "SUDIP", "PANDIT", 9600, "2013-02-20", 9100.00, 40),
           (990, "TIXC", "WOODEI", 9398, "2013-07-20", 9010.00, 36),
           (499, "ALLEII", "SALES", 9630, "2015-07-20", 9034.00, 90)]

In [63]:
# create a RDD/use a parallelize method to create a rdd
empRDD = spark.sparkContext.parallelize(empData)

In [64]:
# use loop to create rows of the data
for row in empRDD.collect():
    print(row)

(7389, 'SMITH', 'CLEARK', 9902, '2010-12-17', 8000.0, 20)
(7499, 'ALLEN', 'SALESMAN', 9698, '2011-02-20', 9000.0, 30)
(499, 'SUDIP', 'PANDIT', 9600, '2013-02-20', 9100.0, 40)
(990, 'TIXC', 'WOODEI', 9398, '2013-07-20', 9010.0, 36)
(499, 'ALLEII', 'SALES', 9630, '2015-07-20', 9034.0, 90)

In [65]:
# create schema for the data
cols = ["emp_id", "emp_name", "manager_name", "manager_id", "hire_data", "dept_no"]

In [66]:
# convert rdd to dataframe
empDF = empRDD.toDF(cols)

In [67]:
# display in dataframe 
empDF.show()

+------+--------+------------+----------+----------+-------+---+
|emp_id|emp_name|manager_name|manager_id| hire_data|dept_no| _7|
+------+--------+------------+----------+----------+-------+---+
|  7389|   SMITH|      CLEARK|      9902|2010-12-17| 8000.0| 20|
|  7499|   ALLEN|    SALESMAN|      9698|2011-02-20| 9000.0| 30|
|   499|   SUDIP|      PANDIT|      9600|2013-02-20| 9100.0| 40|
|   990|    TIXC|      WOODEI|      9398|2013-07-20| 9010.0| 36|
|   499|  ALLEII|       SALES|      9630|2015-07-20| 9034.0| 90|
+------+--------+------------+----------+----------+-------+---+

In [68]:
sc.stop()