In [46]:
import findspark
findspark.init()

In [47]:
#spark connection and import all required packages 
from pyspark.sql import SparkSession,types

In [58]:
spark = SparkSession.builder.master("local").appName("Create DataFrame").getOrCreate()

In [48]:
sc = spark.sparkContext

In [62]:
from datetime import datetime, date
rdd = spark.sparkContext.parallelize([
    (1, 2., 'su1', date(2001, 4, 1), datetime(2001, 4, 1, 12, 0)),
    (2, 3., 'su3', date(2002, 6, 2), datetime(2002, 6, 2, 12, 0)),
    (3, 4., 'su5', date(2003, 3, 3), datetime(2003, 3, 3, 12, 0))
])

In [63]:
df = spark.createDataFrame(rdd, schema=['a', 'b', 'c', 'd', 'e'])
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [64]:
df.show()

+---+---+---+----------+-------------------+
|  a|  b|  c|         d|                  e|
+---+---+---+----------+-------------------+
|  1|2.0|su1|2001-04-01|2001-04-01 12:00:00|
|  2|3.0|su3|2002-06-02|2002-06-02 12:00:00|
|  3|4.0|su5|2003-03-03|2003-03-03 12:00:00|
+---+---+---+----------+-------------------+