In [ ]:
# data source: we can get the data from this link 
# https://www.kaggle.com/fireballbyedimyrnmom/us-counties-covid-19-dataset

In [40]:
import findspark
findspark.init()
from pyspark.sql import SparkSession,types
spark = SparkSession.builder.master("local").appName("Data Analysis of COVID-19")\
        .getOrCreate()

In [41]:
sc=spark.sparkContext

In [43]:
# load the dataset in dataframe
df = spark.read.csv("file:///home/su-1223/Downloads/archive/us-counties.csv",header=True)

In [61]:
df.show(3)

+----------+---------+----------+-----+-----+------+
|      date|   county|     state| fips|cases|deaths|
+----------+---------+----------+-----+-----+------+
|2020-01-21|Snohomish|Washington|53061|    1|     0|
|2020-01-22|Snohomish|Washington|53061|    1|     0|
|2020-01-23|Snohomish|Washington|53061|    1|     0|
+----------+---------+----------+-----+-----+------+
only showing top 3 rows

In [45]:
df.dtypes

[('date', 'string'),
 ('county', 'string'),
 ('state', 'string'),
 ('fips', 'string'),
 ('cases', 'string'),
 ('deaths', 'string')]

In [46]:
from pyspark import SparkContext
from pyspark.sql import SQLContext

In [47]:
SQLContext

pyspark.sql.context.SQLContext

In [48]:
import pyspark.sql.functions as F

In [49]:
# How to print the latest date
# let's print the latest date
latest_date = df.agg(F.max('date').alias('max_date'))

In [50]:
# How to find the latest date of covid case entry in this data frame?
latest_date.show()

+----------+
|  max_date|
+----------+
|2021-06-26|
+----------+

In [51]:
latest_date=latest_date.collect()

In [52]:
latest_date[0]

Row(max_date='2021-06-26')

In [53]:
latest_date[0]['max_date']

'2021-06-26'

In [54]:
# How many records does this dataset has?
df.count()

1459353

### Filter in Pyspark

In [55]:
# How many cases in state Washington?
df_filtered =df.filter(df.county=='Washington')

In [62]:
df_filtered.show(3)

+----------+----------+------+-----+-----+------+
|      date|    county| state| fips|cases|deaths|
+----------+----------+------+-----+-----+------+
|2020-02-28|Washington|Oregon|41067|    1|     0|
|2020-02-29|Washington|Oregon|41067|    1|     0|
|2020-03-01|Washington|Oregon|41067|    2|     0|
+----------+----------+------+-----+-----+------+
only showing top 3 rows

In [63]:
df_filtered_cases =df.filter(df.cases=='10').show(4)

+----------+-------+--------+-----+-----+------+
|      date| county|   state| fips|cases|deaths|
+----------+-------+--------+-----+-----+------+
|2020-02-17|Douglas|Nebraska|31055|   10|     0|
|2020-02-18|Douglas|Nebraska|31055|   10|     0|
|2020-02-19|Douglas|Nebraska|31055|   10|     0|
|2020-02-24|  Bexar|   Texas|48029|   10|     0|
+----------+-------+--------+-----+-----+------+
only showing top 4 rows

In [58]:
#How to perform filter operations oer multiple columns?

In [64]:
df_filtered_two_columns=df.filter("county=='Oregon' and cases=='10'").show(2)

+----------+------+--------+-----+-----+------+
|      date|county|   state| fips|cases|deaths|
+----------+------+--------+-----+-----+------+
|2020-07-17|Oregon|Missouri|29149|   10|     0|
|2020-07-18|Oregon|Missouri|29149|   10|     0|
+----------+------+--------+-----+-----+------+
only showing top 2 rows

In [65]:
df_filtered_two_columns=df.filter("county=='Oregon' or cases=='10'").show(4)

+----------+-------+--------+-----+-----+------+
|      date| county|   state| fips|cases|deaths|
+----------+-------+--------+-----+-----+------+
|2020-02-17|Douglas|Nebraska|31055|   10|     0|
|2020-02-18|Douglas|Nebraska|31055|   10|     0|
|2020-02-19|Douglas|Nebraska|31055|   10|     0|
|2020-02-24|  Bexar|   Texas|48029|   10|     0|
+----------+-------+--------+-----+-----+------+
only showing top 4 rows